:root{
    --main_color: #347bf6;
    --main_color_15: #347bf626;
    --main_color_30: #347bf64D;
    --main_color_70: #347bf6B3;
    --light: #4E95FF;
    --dark: #1B62DD;
    --darker: #0148C3;
    --darkest: #001590;
}