:root{
    --main_color: #68c5bb;
    --main_color_15: #68c5bb26;
    --main_color_30: #68c5bb4D;
    --main_color_70: #68c5bbB3;
    --light: #82DFD5;
    --dark: #4FACA2;
    --darker: #359288;
    --darkest: #025F55;
}
