:root{
    --main_color: #cd99b9;
    --main_color_15: #cd99b926;
    --main_color_30: #cd99b94D;
    --main_color_70: #cd99b9B3;
    --light: #e7b3d3;
    --dark: #B480A0;
    --darker: #814C6D;
    --darkest: #340020;
}